.hero_section{
    height: calc(100vh - 76px);
}

.image_part{
    /* .circle{
        width: 25rem;
        height: 25rem;
        z-index: -1; 
    } */

    img{
        width: 29rem;
        height: 29rem;
        object-fit: cover;

    }
    
}

.social_links{
    ul li{
        clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    }
}

/* about section style start  */
.about_section > div img{
    width: 25rem;
    height: 25rem;
}
/* about section style end  */

/* project section style start  */
 .project_img{
    width: 80%;
    height: 18rem;
    /* box-shadow:  10px 5px 15px rgba(0, 0, 0, 0.35); */
    box-shadow: var(--main-color2) 0px 50px 100px -20px, var(--main-color2) 0px 30px 60px -30px;
}

/* project section style end  */

@media (width < 1200px){
    .hero_section{
        height: fit-content;
    }
}